In [1]:
import pandas as pd
import numpy as np


from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

from bs4 import BeautifulSoup

import string
import re

import spacy

from sklearn.feature_extraction.text import HashingVectorizer, TfidfVectorizer, CountVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score


from sklearn.linear_model import LogisticRegressionCV, LinearRegression

In [16]:
driver = webdriver.Chrome(executable_path='./chromedriver/chromedriver.exe')

jobs = ['data-scientist', 'data-analyst', 'business-analyst','research-scientist','machine-learning-engineer']

raw = []
for job in jobs:
    
    url = 'https://www.seek.com.au/'+job+'-jobs/'

    driver.get(url)
    WebDriverWait(driver, 3)

    pages = 12
    
    
    for page in range(2,pages):
        ads = driver.find_elements_by_css_selector('._2iNL7wI')
        links = [ad.get_attribute('href') for ad in ads]
        #print(ads)
        for link in links[2:]:
            driver.get(link)
            WebDriverWait(driver, 3)
            title = driver.find_element_by_css_selector('h1').text
            raw_html = driver.page_source
            raw.append([title, raw_html])
            driver.back()
            WebDriverWait(driver, 3)
        driver.get(url+'?page='+str(page))
raw_df = pd.DataFrame(raw,columns=['job_title','raw_html'])

driver.close()

raw_df.to_csv(r'./raw_data.csv')

In [33]:
raw_df = pd.read_csv('./raw_data.csv')

In [34]:
raw_df.head()

,Unnamed: 0,job_title,raw_html
0,0,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""..."
1,1,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""..."
2,2,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""..."
3,3,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""..."
4,4,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""..."

In [35]:
raw_df.drop(['Unnamed: 0'],inplace=True,axis=1)

In [36]:
raw_df.head()

        job_title                                           raw_html
0  Data Scientist  <html lang="en" prefix="og: http://ogp.me/ns#"...
1  Data Scientist  <html lang="en" prefix="og: http://ogp.me/ns#"...
2  Data Scientist  <html lang="en" prefix="og: http://ogp.me/ns#"...
3  Data Scientist  <html lang="en" prefix="og: http://ogp.me/ns#"...
4  Data Scientist  <html lang="en" prefix="og: http://ogp.me/ns#"...

In [6]:
#raw_df.raw_html = raw_df.raw_html.apply(lambda x: BeautifulSoup(x).text)

In [32]:
soup = BeautifulSoup(raw_df.raw_html[1])

In [41]:
Advertiser_name = soup.find(attrs={'data-automation':'advertiser-name'}).text

'Aurec'

In [47]:
Job_Description = soup.find(attrs={'data-automation':'mobileTemplate'}).text

In [49]:
Date = soup.find(attrs={'data-automation':'job-detail-date'}).text

In [75]:
soup.findChildren(attrs={'class':'lwHBT6d'})

[<strong class="lwHBT6d">Try the app</strong>,
 <span class="lwHBT6d"><h2 class="_22uAIq9">Data Scientist</h2></span>,
 <span class="lwHBT6d">10 Feb 2020</span>,
 <strong class="lwHBT6d">Sydney</strong>,
 <span class="lwHBT6d">$400- $600 per day</span>,
 <span class="lwHBT6d">Contract/Temp</span>,
 <strong class="lwHBT6d">Information &amp; Communication Technology</strong>,
 <span class="lwHBT6d"><h2>Share this role</h2></span>,
 <span class="lwHBT6d">10 Feb 2020</span>,
 <strong class="lwHBT6d">Sydney</strong>,
 <span class="lwHBT6d">$400- $600 per day</span>,
 <span class="lwHBT6d">Contract/Temp</span>,
 <strong class="lwHBT6d">Information &amp; Communication Technology</strong>]

In [44]:
raw_df.drop([435],inplace=True)

In [46]:
raw_df['job_description'] = raw_df.raw_html.apply(lambda x: BeautifulSoup(x).find(attrs={'data-automation':'mobileTemplate'}).text)

In [47]:
raw_df.job_description[raw_df.job_description.isna()]

Series([], Name: job_description, dtype: object)

In [90]:
raw_df.iloc[435,:]

job_title          SEEK - Australia's no. 1 jobs, employment, car...
raw_html           <html lang="en" prefix="og: http://ogp.me/ns#"...
job_description                                                 None
Name: 435, dtype: object

In [91]:
raw_df.job_title.unique()

array(['Data Scientist', 'Senior Data Scientist - Machine Learning',
       'Data Scientist, Analytics, Machine Learning - Data Scientist, Data Statistician',
       'Data Scientist - Banking',
       'Senior Data Scientist, Machine Learning - Sydney',
       'Data Scientist - FMCG',
       'Data Scientist/Engineer in Leadership Technology - Remote Working',
       'Data Scientist - Remediation Analytics',
       'Customer Data Analytics and Data Science Opportunities',
       'Data Scientist - SAS to Tableau Migration',
       'Data Scientist APS 6', 'DATA SCIENTIST',
       'Data Scientist with Top Fund Manager',
       'Research Fellow - Systems Scientist/Data Scientist',
       'Senior Data Scientist', 'Data Scientist - Retail Banking',
       'Data Scientist / Mathematician',
       'Senior Data Scientist - Time-Series (Contrct 700-800pd)',
       'CSIRO Postdoc in Machine Learning & Artificial Intelligence: Constraints',
       'Quant / Data Scientist | Algorithmic Trading Company | Up to $200K Package',
       'Data Scientist | Global Health Tech Business',
       'Junior Data Scientist', 'Lead Data Scientist - Marketing & CRM',
       'Data Scientist - Property and Retail',
       'Senior Internal Data Science Consultant',
       'Senior Data Scientist - Marketing Analytics', 'Data Engineer',
       'CSIRO Postdoc in Machine Learning & AI: Computer Vision for Feature Extraction',
       'Data Scientist - Risk Analytics - Banking',
       'Junior Marketing Data Scientist / Analyst',
       'Senior Consultant - Data & Analytics', 'Lecturer - Data Science',
       'Data Science Consultant', 'Manager, Data Science - NLP & ML',
       'Senior BI Consultant / Data Scientist - NZ$150,000',
       'Data Science Engineer',
       'Data Analytics Consultants - Data Forensics - $70-90k',
       'Senior Data Scientist - $160k + Super + 20% bonus',
       'Junior Data Engineer - Machine Learning', 'Lead Data Scientist',
       'Insights Analysts & Leads - Data Science Projects',
       'Data & Analytics Consultant',
       'Software Engineer | Machine Learning & AI',
       'Data Engineer - spatial data, C++, SQL / NoSQL',
       'Research Scientist - Computational Platforms',
       'Discipline Leader, Data Science',
       'Senior Machine Learning Engineer',
       'Applied Statistician - Actuarial / Risk Data Statistician - PhD / Masters Degree',
       'Data Analytics Consultant - Forensic & Technology Services',
       'Manager Data Science and Data Visualisation',
       'Senior DevOps Engineer - Big Data, Machine Learning & AI',
       'Machine Learning Engineer',
       'Start your new career as a Data Analyst',
       'Principal Consultant - Analytics',
       'Principal Data Product Owner (0PH4)',
       'Senior Consultant, Data and Analytics',
       'Senior Data Engineer / Data Engineer',
       'Senior Research Fellow - Data Science', 'Data Engineer, Canberra',
       'Lead Data Science Analyst', 'Senior Manager, Biostatistics',
       'Associate Director Data and Analytics',
       'Data Science Software Engineer',
       'Machine Learning / Computer Vision Engineer', 'Data Consultant',
       'Data and Analytics Lead - Visualisation and Reporting',
       'Senior Data Analytics Consultant',
       'Machine Learning/Computer Vision Engineer', 'Python Expert',
       'Product Manager - Data Science',
       'Senior Advanced Analytics Manager - P&C Insurance',
       'Business Translator - Advanced Analytics',
       'Data Engineer - AWS, Python', 'Principal Data Science Consultant',
       'Sales Executive - Analytics & Artificial Intelligence',
       'Data Analyst',
       'Senior Software Engineer (R&D / Data Science / Machine Learning)',
       'Senior Data Analytics Consultants / Managers - Data Forensics - $90-130k',
       'Data Engineer - VN552', 'Senior Analytics Consultant',
       'Agile Business Analyst - Data projects',
       'Senior/Principal Statistical Programmer', 'Big Data Engineer',
       'Associate Director Data Science Consulting',
       'Principal Consultant - AI and Analytics',
       'Senior Consultant (Director): Analytics/Data Science (Melbourne, Australia)',
       'Digital Analyst (Personalisation & Conversion Optimisation)',
       'Graduate Data Engineer', 'Senior Manager Data Science',
       'Data & Analytics Strategy Lead', 'Biostatistician',
       'Sr. Big Data Engineer - Machine Learning',
       'Data Developer / Engineer - Google Cloud Platform Specialist',
       '(6 months Internship) Computer Science / Software Engineering / Data Science',
       'Bioinformatician',
       'Senior Data Engineer, Clerk Grade 11/12 – 199042',
       'Senior Manager - Pricing & Analytics',
       'Bioinformatician in Computational Functional Genomics',
       'Reporting Analyst', 'Data & Reporting Analyst - Parramatta',
       'Junior Data Analyst/Data Ops', 'Junior Data Analyst',
       'Data & Reporting Analyst', 'Retention Insights Analyst',
       'Data and Reporting Analyst', 'Data Visualisation Analyst',
       'Reporting Analyst - SQL / Tableau (Data Analytics Projects)',
       'Analyst, Data Analytics (Entry)', 'Behaviour Data Analyst',
       'Insights Analyst', 'Data and Analysis Officer',
       'Reporting & Business Analytics Analyst',
       'Customer Service Data Analyst', 'Data Analysts - Remediation',
       'Performance Insights Analyst',
       'Data & Reporting Analyst - 12 Month Contract - Parramatta',
       'Research and Insights Analyst', 'Data Reporting Analyst',
       'Data Analyst - Funds Management',
       'Data Analyst - Immediate start', 'Business Data Analyst',
       'Client Data Analyst', 'Data Analyst - Supply Chain',
       'BUSINESS INTELLIGENCE SUPPORT', 'HR Data Analyst',
       'Research & Reporting Analyst',
       'Business Analyst Reporting & Analytics',
       'Data Analytics Specialist', 'Data Governance',
       'HR Reporting Analyst', 'Inventory/Data Analyst',
       'Commercial Data Analyst', 'Reporting Analyst - Power BI',
       'Information Architect/Data Analyst', 'Intelligence Analyst',
       'Power BI Analyst', 'Data Modeller',
       'Data Analyst - Brisbane, Perth or Sydney', 'Senior Data Analyst',
       'DATA ANALYST', 'Business Analyst - Data Analytics', 'Analyst',
       'Customer Insights Analyst', 'Financial Data Analyst',
       'APS6 Data Analyst', 'Buying Systems Analyst - Data Analyst',
       'Data Governance Analyst',
       'Data Analyst/ETL SQL Developer - FED GOVT - Long Term - SSIS SQL Data Migration',
       'Data Developer, Data Architect, Data Analyst, Big Data, Data Science',
       'Mid/Junior Data Analyst', 'SQL Data Analyst',
       'Data Analyst - Cloudera', 'Junior Analyst', 'Master Data Analyst',
       'WMS Data Analyst - Full Time', 'Data Analyst/Developer',
       'Data Analyst / Co-ordinator',
       'Finance Data Analyst (Mandarin Speaking)',
       'Data Analyst, Provider Commissioning & Performance',
       'Sales Data Analyst', 'Data Analyst / Developer',
       'Associate Data Analyst', 'Head of Data, Analytics and Reporting',
       'Business Analyst - Reporting',
       'BI Analyst / Data Analyst - R, SQL',
       'Data Analyst (BI / Pricing)', 'Data Analyst- Research',
       'Business Analyst | Enterprise Data Office',
       'Senior Data Analyst - Data Centre Infrastructure',
       'Office of Superannuation Trustee Data, Reporting and Analytics Analyst',
       'Data Marketing Analyst', 'Data Migration Analyst',
       'Data Analyst/ETL Developer', 'eResearch Information Analyst',
       'Business Analyst', 'Lead Data Analyst-Data Migration',
       'APS4 Data Analyst',
       'Data Analyst - Wealth Marketing & Customer Analytics (SYD60508)',
       'Reporting Business Analyst', 'Business Analyst (Data)',
       'Business Intelligence Analyst', 'Data Analyst/ Developer',
       'Business Systems Analyst - Finance', 'Campaign Data Analyst',
       'Data Analyst - Regulatory Reporting', 'Power BI Analyst - Rail',
       'Non-ongoing, APS 6 Data Analyst', 'Retail Sales Data Analyst',
       'Data Specialist', 'Data Analyst (3 month temp-perm)',
       'Data Migration Analyst - Junior Level', 'Research Analyst',
       'Technical Analyst – Data & Reporting (M22)', 'Marketing Analyst',
       'APS6 Data Analysts - Several Positions', 'Data Analyst - HEO7',
       'Transactional Data Analyst', 'BI Analyst', 'Product Analyst',
       'Marketing Insight Analyst - Sport Data',
       'Reporting & Insights Analyst',
       'Data Migration Analyst | 12 month initial contract + ext* | Baseline',
       'eCommerce Business Intelligence Analyst', 'Business Analyst - BI',
       'Lead Analyst, Data Visualisation (Tableau Insights) - $900pd CONTRACT',
       'Senior Analyst', 'Data Solution Specialist',
       'Business Intelligence (B.I.) Analyst | Health',
       'Business Analysts - Merchandise Data',
       'Data Analyst - Master Data', 'Technical Business Analyst',
       'Senior Business Analyst', 'Digital Business Analyst',
       'Business Analyst - 6 Month Contract', 'IT Business Analyst',
       'Senior Business Analyst - Super or Life - $900 to 950/day',
       'Business Analyst -', 'Agile Business Analyst',
       'Business Analysts', 'Senior Business Analyst (Applications)',
       'Senior Business Analyst - Projects',
       'Agile Business Analyst - Highly Agile Business - 6 Month Contract',
       "SEEK - Australia's no. 1 jobs, employment, career and recruitment site",
       'BUSINESS ANALYST', 'Lead Business Analyst',
       'Business Systems Analyst',
       'Lean Business Analyst - multiple contracts',
       'Business Analyst - System Integration', 'Business Analyst - NSW',
       'Senior Agile Business Analyst',
       'Business Analyst/User Experience',
       'Senior Business Analyst- IT - People & Capability',
       'Senior Business Analyst / Product Owner',
       'Business Analyst/Tester',
       'Senior Business Analyst (Applications) - Grafton',
       'Business Analyst - CRM Specialist', 'Immediate Business Analyst',
       'Delivery Lead/Business Analyst',
       'Business Analyst/Technical Writer',
       'Process Improvement Business Analyst', 'Business Process Analyst',
       'Junior Business Analyst / Tester (Selenium)',
       'Senior Business Analyst - Business Development',
       'Business Analyst (Business Case)',
       'Sales Business Analyst - Immediate Start',
       'Senior Business Analyst (Agile, E2E)', 'Need Business Analyst',
       'ERP Business Analyst', 'Senior Business Analyst - S/4HANA',
       'Junior Business Analyst-Non IT',
       'Senior Business Analyst - Agriculture Services',
       'Business Analyst - EAM',
       'Lead Business Analyst - Financial Crime',
       'Business Analyst/Compliance Analyst',
       'Business Analyst/ Project Manager',
       'Senior Business Analyst - Utilities',
       'Business Analyst - Digital UX/UI - Sydney CBD',
       'Contract Business Analyst',
       'Business Analyst - Finance Transformation Project',
       'Enterprise Business Analyst Lead', 'Technical/Business Analyst',
       'ICT Business Analyst', 'Application/Business Analyst',
       'Senior Business Analyst - ICT', 'Principal Business Analyst',
       'Senior Business Analyst $130k+ Super', 'Agile BA',
       'Business Analyst - Assurance, Communities and Justice Shared Services',
       'Business Analyst - Enterprise Data - Coding, Artefacts, Process Maps - Fed Govt',
       'Junior Business Analyst / Full-time Role / Sydney',
       'Project Manager or Business Analyst - Surge Function',
       'Systems Analyst', 'Research Scientist',
       'Research Scientist - Molecular Genetics',
       'Senior Research Assistant/Junior Postdoctoral Scientist',
       'Research Scientist (Modeller)', 'Scientist', 'Grade 1 Scientist',
       'Lead Scientist',
       'Principal Climate & Atmospheric Scientist, Climate Research Team',
       'Research Associate/Research Scientist',
       'Senior Scientist - biotechnology industry',
       'Histopathology Scientist/Dissectionist', 'Scientist G1',
       'Research Officer / Postdoctoral Researcher',
       'Scientist (Biochemistry)', 'Scientist - Stem Cells',
       'Clinical Measurement Scientist - Senior (Vascular Scientist)',
       'Post Doctoral Scientist', 'Scientist, Toxicology',
       'Medical Laboratory Scientist',
       'Genomic Diagnostics- Senior Molecular Scientist',
       'SENIOR SCIENTIST, MDDI',
       'Research Scientist (Computational Finance)',
       'Biology Programme Manager', 'Scientist - In vivo Biology',
       'Senior Scientist', 'Research Worker',
       '5 year Joan Krefft Post Doctoral Fellowship on Human Hepatocellar Carcinoma',
       'Scientific or Technical Officer', 'Field Applications Scientist',
       'Senior Scientist (Grade 3 or 4) - Microbiology Section Manager',
       'Medical Scientist - Grade 3 Haematology', 'Hospital Scientist',
       'Postdoc Position- Bioinformatics- Gene Regulation in Cancer',
       'Research Officer - Post Doctoral - Respiratory, Infectious Diseases and Immunopa',
       'Research Associate', 'Scientific Proposal Analyst, Immunoassay',
       'APS 5 Scientific Evaluator - Biologics',
       'Microbiology Medical Scientist and Technician Positions Available - Clayton VIC',
       'Senior Principal Research Scientist Cybernetics',
       'Senior Scientist - Histology (Grade 2)',
       'Regulatory Scientist - Chemistry - APS5', 'Research Assistant',
       'Clinical Scientist, Genetic Pathology - Cytogenetics',
       'Medical Laboratory Scientist Senior (Quality Officer)',
       'Postdoctoral Researcher',
       'Laboratory Manager Echuca - Medical Scientist Grade 4',
       'Research Officer', 'Clinical Curation Scientist',
       'Diagnostic Scientist - Virologist', 'GIS Scientist',
       'Postdoctoral Research Fellow', 'Respiratory Scientist',
       'Scientific Research Officer (Full time)', 'Genetic Pathologist',
       'Development Scientist',
       'Medical Scientist- Grade 1 (Footscray/Sunshine)',
       'Team Leader - Aquatic Research Capability',
       'Postdoctoral in Clinical Bioinformatics Genomics/Computational Genomics',
       'Microscopy Platform Manager', 'Medical Scientist / Technician',
       'Scientific Services Coordinator', 'Technical Assistant',
       'Neurosurgery Clinical Imaging Specialist',
       'Remarkable opportunities in the Institute for Glycomics',
       'Research Fellow/Senior Research Fellow', 'Postdoctoral Fellow',
       'RESEARCH MANAGER', 'Sales Representative',
       'Software Sales in Education Sector', 'Senior Research Officer',
       'Postdoctoral Fellow / Research Fellow',
       'Senior Marketing and Communications Officer',
       'Administration Manager | Institute for Water Futures',
       'Communication Officer - Science Communication',
       'Lecturer/Senior Lecturer in Computer Science',
       'PhD Scholarship in Machine Learning for radar image analysis',
       'Marcomms Specialist', 'Graduate Analyst',
       'Ag Commodities Quantitative Researcher - Sydney',
       'Clinical Research Manager', 'Data & Analytics Manager',
       'Fundraising Communications Writer',
       'Customer Service Associate - Consumer Health',
       'Business Growth - Research Healthcare',
       'Consignment Project Administrator (12 Month Contract)',
       'C# .NET Python Developer/Engineer',
       'Pharmaceutical GP Sales Representative', 'GIS Analyst',
       'Customer Service Representative - Medical Devices',
       'Manager, Committees and Clinical Guidelines',
       'Research Associate – Magnetic Resonance (NMR)',
       'PhD Scholarship at Interface of Clinical Psychology & Data Science',
       'Senior Research and Teaching Fellow', 'Channel Manager (APAC)',
       'Postdoctoral Research Fellow in Polymeric Materials for Membrane Fabrication',
       'Post-doctorate of chromosome abnormalities, fertility & single cell sequencing',
       'Principal GeoSensor Engineer|Global Functions | Perth or Brisbane',
       'Postdoctoral Research Associate/Fellow in Livestock Behaviour',
       'Nanny/Tutor English', 'Impact Advisor',
       'Inventory & Consignment Analyst', 'Communications Coordinator',
       'Site Improvement Specialist',
       'Deputy Vice-Chancellor (Research and Enterprise)',
       'Behaviour Analyst BCBA (Program Supervisor) - Lizard Sydney',
       'Clinical Research Associates',
       'Research Fellow in Distributed Systems', 'Procurement Advisor',
       'Research Officer / Senior Research Officer',
       'Lecturer/Senior Lecturer/Associate Professor - Multiple Positions',
       'Research Fellow, ARI Toxicology Research Program',
       'Manager, Applied BioSciences', 'Medical Science Liaison',
       'User Researcher, User Experience / Interaction Designer, Service Designer',
       'Laboratory Technician', 'CNC Machinist - Science & Engineering',
       'eResearch Analyst, University of Adelaide',
       'Machine Learning Engineer - NLP/NLU',
       'Machine Learning/Computer Vision Engineer *Flexible Working/WFH*',
       'Machine Learning / Computer Vision Engineer - Sydney/Melbourne - Work from home',
       'Cloud Engineer optimise AWS for Machine Learning, contract',
       'Machine Learning Engineer - NLP',
       'Senior Machine Learning Engineer - Banking',
       'Site Reliability Engineering Lead',
       'Mid - Senior I Polyglot Developers',
       'Full-Stack Software Engineer', 'Application Data Engineer',
       'Senior Big Data Engineer - Python & AWS',
       'Lead Software Engineer', 'Software Engineer - C++, Python',
       'Software/Data Engineer', 'Data/ Python Developer',
       'Polyglot Developer | Mid-Senior',
       'Learning & Development - AI Technology (Pre & Post)',
       'DevOps Engineer',
       'Senior Data Engineer (Spark/Python/PySpark) | Fraud Detection Platform',
       'Software Engineer', 'Data Engineer (Python/GCP)',
       'Artificial Intelligence / Machine Vision Engineer',
       'Senior Python / Javascript / API Developer - Big Data & Machine Learning Product',
       'Data Engineer - Spark, Python, AWS in Fintech',
       'Azure Data Engineer - Melbourne', 'Cloud Engineer',
       'Data Engineer / Analytics Consultant - Big Data',
       'Senior Golang Developer', 'Senior Engineer - Data Applications',
       'Senior Java Engineer, Realtime, multi-threaded Systems',
       'Field Applications Engineer', 'Senior Data Engineer',
       'Business Development Manager - Machine Learning / AI',
       'SENIOR DATA ENGINEER', 'Fullstack NodeJS Engineer',
       'Senior Javascript Engineer', 'Software Engineer - Python',
       'C++ -- Mobile Applications', 'Data Engineer / ETL Consultant',
       'Senior Software Engineer - Java/JVM', 'Senior DevOps Engineer',
       'Lead Software Engineer - C++',
       'Senior Data Engineer | Leading TV Streaming Company | Up to $175K + Super',
       'Data Engineer | Leading TV Streaming Company | Up to $1000/day',
       'Full Stack Developer', 'Full Stack Developer - Melbourne',
       'Software Engineers - Varying Roles', 'Senior C++ developer',
       'Systems Engineer',
       'Software Engineer and Graduate Data Scientists',
       'Embedded Systems Engineer - Robotics',
       'Software Engineer - 3D Graphics', 'Graduate Automation Developer',
       'Senior Automation Developer', 'Software Engineer - Robotics',
       'AWS/DevOps SRE - Sydney CBD - FinTech Career Opportunity',
       'Software Engineer - Robotics (Graduate)',
       'Software Engineer for Blockchain Projects',
       'LECTURER/SENIOR LECTURER IN MACHINE LEARNING (MULTIPLE POSITIONS)',
       'Senior Teradata Engineer',
       'Senior Pricing Analyst/ Pricing Actuary',
       'Senior BI Consultant (MSBI)',
       'Cyber Security - Presales Engineer', 'Python Engineer',
       'Data Engineer - Talend',
       '1x Mid & 1x Senior Java Developer | Spring Boot / Angular / AWS',

In [44]:
soup

<html lang="en" prefix="og: http://ogp.me/ns#"><head>
<meta charset="utf-8"/>
<meta content="block-all-mixed-content" http-equiv="Content-Security-Policy"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="SEEK" name="apple-mobile-web-app-title"/>
<meta content="yes" name="mobile-web-app-capable"/>
<meta content="MC4yMzY5ODcwNzI5NjIzMDgyNQ==" name="request-id"/>
<meta content="#0d3880" name="theme-color"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<link href="/static/shared-web/favicon-4e1897dfd0901e8a3bf7e604d3a90636.ico" rel="icon"/>
<link href="/static/shared-web/iphone-4f6e398cfa84b92f7e5940285f0e46e3.png" rel="apple-touch-icon"/>
<link href="/static/shared-web/ipad-1f9b1e947eb83f87aee575239b50a993.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/static/shared-web/iphoneRetina-406e4373c0e30e2038d3a3f50346fc8c.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/static/shared-web/ipadRetina-379147ca1c955d3c9fe86c4bfdec855d.png" rel="apple-touch-icon" sizes="152x152"/>
<meta content="/static/shared-web/banner-eef04f549748a012d18cb7b873a9a1a6.png" name="twitter:image"/>
<meta content="summary" name="twitter:card"/>
<meta content="@seekjobs" name="twitter:site"/>
<meta content="/static/shared-web/banner-eef04f549748a012d18cb7b873a9a1a6.png" property="og:image"/>
<meta content="1200" property="og:image:width"/>
<meta content="630" property="og:image:height"/>
<meta content="website" property="og:type"/>
<meta content="SEEK" property="og:site_name"/>
<meta content="en_US" property="og:locale"/>
<link href="/static/shared-web/manifest-0f27f6fcdc85236b77ce0ffb8ad9eb85.json" rel="manifest"/>
<link href="//chalice-experience.cloud.seek.com.au/" rel="dns-prefetch"/>
<link data-chunk="main" href="/static/ca-search-ui/houston/vendor.seekComponents-6a2ee1fead2359c94b2e.css" rel="stylesheet"/>
<link data-chunk="main" href="/static/ca-search-ui/houston/main-bf2c9c8d99b93fc44e61.css" rel="stylesheet"/>
<script async="" src="https://s.pinimg.com/ct/lib/main.a37a8bbc.js"></script><script async="" charset="utf-8" id="utag_147" src="//cdn.taboola.com/libtrc/unip/1182923/tfa.js" type="text/javascript"></script><script async="" charset="utf-8" id="utag_140" src="https://sc-static.net/scevent.min.js" type="text/javascript"></script><script async="" charset="utf-8" id="utag_139" src="https://s.pinimg.com/ct/core.js" type="text/javascript"></script><script async="" src="https://connect.facebook.net/signals/config/919117114837585?v=2.9.15&amp;r=stable"></script><script async="" charset="utf-8" id="utag_97" src="https://connect.facebook.net/en_US/fbevents.js" type="text/javascript"></script><script async="" charset="utf-8" id="utag_12" src="https://www.googleadservices.com/pagead/conversion_async.js" type="text/javascript"></script><script async="" charset="utf-8" id="utag_101" src="https://www.googletagmanager.com/gtag/js?id=DC-4270108" type="text/javascript"></script><script async="" charset="utf-8" id="tealium-tag-7110" src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script><script async="" src="https://cdn.branch.io/branch-2.47.1.min.js"></script><script async="" src="//cdn.raygun.io/raygun4js/raygun.min.js"></script><script>
    (function(l,d,j,t){
      d.test(l.hash) && j.test(l.pathname) && (l.href = l.pathname + (l.search ? l.search + '&' : '?') + l.hash.slice(1) + t);
    }(location,/^#daterange=/i,/^\/jobs/,'&hashredirect=true'))
  </script>
<meta content="160055201197039" property="fb:app_id"/>
<title>Data Scientist Job in Sydney - SEEK</title><meta content="index,follow" data-react-helmet="true" name="robots"/><meta content="https://www.seek.com.au/job/40918345" data-react-helmet="true" property="og:url"/><meta content="One of Australia's biggest brands is looking for a Data specialist to work across a range of tech stacks to create insights and models!" data-react-helmet="true" name="description"/><meta content="Data Scientist Job in Sydney" data-react-helmet="true" property="og:title"/><meta content="One of Australia's biggest brands is looking for a Data specialist to work across a range of tech stacks to create insights and models!" data-react-helmet="true" property="og:description"/><meta content="Data Scientist Job in Sydney" data-react-helmet="true" property="twitter:title"/><meta content="One of Australia's biggest brands is looking for a Data specialist to work across a range of tech stacks to create insights and models!" data-react-helmet="true" property="twitter:description"/><link data-react-helmet="true" href="https://www.seek.com.au/job/40918345" rel="canonical"/><script data-react-helmet="true" type="application/ld+json">{"@context":"http://schema.org","@graph":[{"@type":"WebSite","url":"https://www.seek.com.au","potentialAction":{"@type":"SearchAction","target":"https://www.seek.com.au/{search_term_string}-jobs","query-input":"required name=search_term_string"}}]}</script><script async="" charset="utf-8" id="utag_seek.houston_104" src="//tags.tiqcdn.com/utag/seek/houston/prod/utag.104.js?utv=ut4.46.202001070232" type="text/javascript"></script><script async="" charset="utf-8" id="utag_seek.houston_139" src="//tags.tiqcdn.com/utag/seek/houston/prod/utag.139.js?utv=ut4.46.201912152305" type="text/javascript"></script><script async="" charset="utf-8" id="utag_seek.houston_140" src="//tags.tiqcdn.com/utag/seek/houston/prod/utag.140.js?utv=ut4.46.201912152305" type="text/javascript"></script><script async="" charset="utf-8" id="utag_seek.houston_147" src="//tags.tiqcdn.com/utag/seek/houston/prod/utag.147.js?utv=ut4.46.201912152305" type="text/javascript"></script><script async="" charset="utf-8" id="LOTCC_4728" src="https://tags.crwdcntrl.net/c/4728/cc_ajax.js?ns=_cc4728" type="text/javascript"></script><script async="" charset="utf-8" src="https://platform.twitter.com/oct.js" type="text/javascript"></script><script async="" charset="utf-8" id="utag_seek.houston_144" src="//tags.tiqcdn.com/utag/seek/houston/prod/utag.144.js?utv=ut4.46.202002022309" type="text/javascript"></script><script async="" charset="utf-8" id="utag_seek.houston_111" src="//tags.tiqcdn.com/utag/seek/houston/prod/utag.111.js?utv=ut4.46.202002022309" type="text/javascript"></script><script async="" charset="utf-8" id="utag_seek.houston_148" src="//tags.tiqcdn.com/utag/seek/houston/prod/utag.148.js?utv=ut4.46.202002022309" type="text/javascript"></script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/996179779/?random=1581395951581&amp;cv=9&amp;fst=1581395951581&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=834&amp;u_aw=1536&amp;u_cd=24&amp;u_his=3&amp;u_tz=660&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;sendb=1&amp;ig=1&amp;data=ecomm_pagetype%3Dother%3Becomm_totalvalue%3D&amp;frm=0&amp;url=https%3A%2F%2Fwww.seek.com.au%2Fjob%2F40918345%3Ftype%3Dstandout&amp;tiba=Data%20Scientist%20Job%20in%20Sydney%20-%20SEEK&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><script async="" charset="utf-8" src="https://platform.twitter.com/oct.js" type="text/javascript"></script></head>
<body>

In [48]:
raw_df['job_info'] = raw_df.raw_html.apply(lambda x: BeautifulSoup(x).findChildren(attrs={'class':'lwHBT6d'}))

In [49]:
def text_maker(x):
    lis = []
    for i in x:
        lis.append(i.text)
    return lis

In [50]:
raw_df['job_info_text'] = raw_df.job_info.apply(text_maker)

In [51]:
raw_df.head()

,job_title,raw_html,job_description,job_info,job_info_text
0,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""...",Our client is a global Oil and Gas industry le...,"[[Try the app], [[Data Scientist]], [11 Feb 20...","[Try the app, Data Scientist, 11 Feb 2020, Bri..."
1,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""...",Where you’ll be working:You will be working wi...,"[[Try the app], [[Data Scientist]], [10 Feb 20...","[Try the app, Data Scientist, 10 Feb 2020, Syd..."
2,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""...","At Foxtel, we’re bringing television to Austra...","[[Try the app], [[Data Scientist]], [7 Feb 202...","[Try the app, Data Scientist, 7 Feb 2020, Sydn..."
3,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""...",Permanent opportunity for a Data Scientist to ...,"[[Try the app], [[Data Scientist]], [7 Feb 202...","[Try the app, Data Scientist, 7 Feb 2020, Melb..."
4,Data Scientist,"<html lang=""en"" prefix=""og: http://ogp.me/ns#""...",The Opportunity: Findex has built a reputation...,"[[Try the app], [[Data Scientist]], [4 Feb 202...","[Try the app, Data Scientist, 4 Feb 2020, Melb..."

In [52]:
draft_df = raw_df.drop(['raw_html','job_info'],axis=1)

In [53]:
draft_df.head()

,job_title,job_description,job_info_text
0,Data Scientist,Our client is a global Oil and Gas industry le...,"[Try the app, Data Scientist, 11 Feb 2020, Bri..."
1,Data Scientist,Where you’ll be working:You will be working wi...,"[Try the app, Data Scientist, 10 Feb 2020, Syd..."
2,Data Scientist,"At Foxtel, we’re bringing television to Austra...","[Try the app, Data Scientist, 7 Feb 2020, Sydn..."
3,Data Scientist,Permanent opportunity for a Data Scientist to ...,"[Try the app, Data Scientist, 7 Feb 2020, Melb..."
4,Data Scientist,The Opportunity: Findex has built a reputation...,"[Try the app, Data Scientist, 4 Feb 2020, Melb..."

In [54]:
#draft_df.to_csv('./draft_df.csv')

In [393]:
draft_df = pd.read_csv('./draft_df.csv')

In [394]:
def cleaner(elem):
    elem = elem.split(',')
    del elem[0]
    return elem

In [395]:
draft_df.job_info_text = draft_df.job_info_text.apply(lambda x: cleaner(x))

In [396]:
draft_df.head()

,Unnamed: 0,job_title,job_description,job_info_text
0,0,Data Scientist,Our client is a global Oil and Gas industry le...,"[ 'Data Scientist', '11 Feb 2020', 'Brisbane..."
1,1,Data Scientist,Where you’ll be working:You will be working wi...,"[ 'Data Scientist', '10 Feb 2020', 'Sydney',..."
2,2,Data Scientist,"At Foxtel, we’re bringing television to Austra...","[ 'Data Scientist', '7 Feb 2020', 'Sydney', ..."
3,3,Data Scientist,Permanent opportunity for a Data Scientist to ...,"[ 'Data Scientist', '7 Feb 2020', 'Melbourne..."
4,4,Data Scientist,The Opportunity: Findex has built a reputation...,"[ 'Data Scientist', '4 Feb 2020', 'Melbourne..."

In [397]:
draft_df.job_info_text[0][0]

" 'Data Scientist'"

In [398]:
draft_df['title'] = draft_df.job_info_text.apply(lambda x: x.pop(0))

In [399]:
draft_df['data_listed'] = draft_df.job_info_text.apply(lambda x: x.pop(0))

In [400]:
draft_df['location'] = draft_df.job_info_text.apply(lambda x: x.pop(0))

In [401]:
draft_df.tail()

,Unnamed: 0,job_title,job_description,job_info_text,title,data_listed,location
946,947,.NET WPF Developer | Eastern suburbs,The CompanyRobert Half Technology are working ...,"[ '(inc. super)', 'Contract/Temp', 'Informat...",'.NET WPF Developer | Eastern suburbs ','17 Jan 2020','Melbourne'
947,948,Google Cloud Architect- Sydney,Our client is a global leading financial servi...,"[ 'Competitive market rates', 'Contract/Temp'...",'Google Cloud Architect- Sydney','22 Jan 2020','Sydney'
948,949,Executive Search Consultant - Research & Highe...,Robertson Search is part of a 15-year-old priv...,"[ '$80, 000 - $89, 999', 'Full Time', 'Human...",'Executive Search Consultant - Research & Hig...,'30 Jan 2020','Melbourne'
949,950,PhD Scholarship: Remote monitoring of high-spe...,The Research Project Australia is the world le...,"[ 'Full Time', 'Education & Training', 'Shar...",'PhD Scholarship: Remote monitoring of high-s...,'24 Jan 2020','Hobart'
950,951,Full Stack Developer - .Net Core ($90-$140),THE ROLEThe role will be part of our engineeri...,"[ '($90-$140)', 'Full Time', 'Information & ...",'Full Stack Developer - .Net Core ($90-$140)','31 Jan 2020','Sydney'

In [402]:
draft_df.drop(['title'],inplace=True,axis=1)

In [403]:
draft_df.drop(['Unnamed: 0'],inplace=True,axis=1)

In [404]:
draft_df['salary'] = draft_df.job_info_text.apply(lambda x: x.pop(0))

In [405]:
draft_df.salary = draft_df.salary.apply(lambda x: x.strip("' '"))

In [406]:
def findsalary(x):
    salary = re.findall(pattern=r'\$(\d*\w)',string=x)
    try:
        return salary
    except:
        return np.nan

In [407]:
findsalary(draft_df.salary[0])

[]

In [408]:
draft_df.salary = draft_df.salary.apply(findsalary)

In [409]:
draft_df.head()

,job_title,job_description,job_info_text,data_listed,location,salary
0,Data Scientist,Our client is a global Oil and Gas industry le...,"[ 'Information & Communication Technology', '...",'11 Feb 2020','Brisbane',[]
1,Data Scientist,Where you’ll be working:You will be working wi...,"[ 'Contract/Temp', 'Information & Communicati...",'10 Feb 2020','Sydney',"[400, 600]"
2,Data Scientist,"At Foxtel, we’re bringing television to Austra...","[ 'Information & Communication Technology', '...",'7 Feb 2020','Sydney',[]
3,Data Scientist,Permanent opportunity for a Data Scientist to ...,"[ 'Information & Communication Technology', '...",'7 Feb 2020','Melbourne',[]
4,Data Scientist,The Opportunity: Findex has built a reputation...,"[ 'Science & Technology', 'Share this role', ...",'4 Feb 2020','Melbourne',[]

In [410]:
draft_df.salary

0              []
1      [400, 600]
2              []
3              []
4              []
          ...
946            []
947            []
948          [80]
949            []
950     [90, 140]
Name: salary, Length: 951, dtype: object

In [411]:
# def crapsorter(x):
#     if x == [None]:
#         x = np.nan
#     elif len(x)==1:
#         try:
#             x = int(x)
#         except:
#             x = str(x)

In [412]:
#draft_df.salary = draft_df.salary.apply(crapsorter)

In [413]:
draft_df.tail()

,job_title,job_description,job_info_text,data_listed,location,salary
946,.NET WPF Developer | Eastern suburbs,The CompanyRobert Half Technology are working ...,"[ 'Contract/Temp', 'Information & Communicati...",'17 Jan 2020','Melbourne',[]
947,Google Cloud Architect- Sydney,Our client is a global leading financial servi...,"[ 'Contract/Temp', 'Information & Communicati...",'22 Jan 2020','Sydney',[]
948,Executive Search Consultant - Research & Highe...,Robertson Search is part of a 15-year-old priv...,"[000 - $89, 999', 'Full Time', 'Human Resour...",'30 Jan 2020','Melbourne',[80]
949,PhD Scholarship: Remote monitoring of high-spe...,The Research Project Australia is the world le...,"[ 'Education & Training', 'Share this role', ...",'24 Jan 2020','Hobart',[]
950,Full Stack Developer - .Net Core ($90-$140),THE ROLEThe role will be part of our engineeri...,"[ 'Full Time', 'Information & Communication T...",'31 Jan 2020','Sydney',"[90, 140]"

In [414]:
draft_df = draft_df[draft_df['salary'].map(lambda d: len(d)) > 0]

In [415]:
draft_df.head()

,job_title,job_description,job_info_text,data_listed,location,salary
1,Data Scientist,Where you’ll be working:You will be working wi...,"[ 'Contract/Temp', 'Information & Communicati...",'10 Feb 2020','Sydney',"[400, 600]"
5,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,"[ 'Full Time', 'Information & Communication T...",'5 Feb 2020','Sydney',[130k]
9,Data Scientist,About the company My client is a company that...,"[000 + Superannuation', 'Full Time', 'Scienc...",'30 Jan 2020','Melbourne',[160]
12,Data Scientist,About Them: This tech start up are on a mis...,"[000-$100, 000 + Super', 'Full Time', 'Scien...",'3 Feb 2020','Sydney',[80]
17,Data Scientist,A brand new and exciting 6 month contract has ...,"[ 'Contract/Temp', 'Science & Technology', '...",'4 Feb 2020','Melbourne',"[700, 900]"

In [416]:
draft_df.drop(['job_info_text'],inplace=True,axis=1)

In [417]:
draft_df.reset_index(drop=True,inplace=True)

In [418]:
# if salary contains k replace with 000
# if salary length is more than 1 calculate average
# if salary is between 300 and 1000: salary*365
# if salary is less than 300: salary times 100
# convert all salarys to float

In [419]:
def bingbong(x):
    for i in x:
        
        i = float(i.lower().replace('k','000'))
        if (i > 300) & (i < 1000):
            i *= 365
        elif (i>100)&(i < 300):
            i *= 1000
        elif i <=100:
            i *= 42*52
        #except:
        return i

In [420]:
draft_df.head()

,job_title,job_description,data_listed,location,salary
0,Data Scientist,Where you’ll be working:You will be working wi...,'10 Feb 2020','Sydney',"[400, 600]"
1,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,'5 Feb 2020','Sydney',[130k]
2,Data Scientist,About the company My client is a company that...,'30 Jan 2020','Melbourne',[160]
3,Data Scientist,About Them: This tech start up are on a mis...,'3 Feb 2020','Sydney',[80]
4,Data Scientist,A brand new and exciting 6 month contract has ...,'4 Feb 2020','Melbourne',"[700, 900]"

In [421]:
bingbong(draft_df.salary[4])

255500.0

In [422]:
draft_df.salary = draft_df.salary.apply(bingbong)

In [423]:
draft_df.salary.unique()

array([146000., 130000., 160000., 174720., 255500.,  80000., 110000.,
       125000., 100000., 140000., 185640., 292000., 120000., 152880.,
       170000., 135000., 214032., 120120., 138000., 203112., 150000.,
       218400., 113000., 196560., 109200., 310250., 183456.,  83700.,
        75000., 131040.,  77000., 200750., 163800., 219000., 234695.,
       148512., 182500.,  60000., 226300., 262800., 255865., 135408.,
       248200., 273750., 127000.,  97000., 310615., 304775., 120450.,
       237250., 105000.,      0.,   1000., 112000., 133224., 179088.,
         4094.,  65000.,  75669., 104832., 102648., 157248., 144144.,
       187824., 113568., 211848., 159432., 103000., 192192., 205296.,
       216216.,  96564.,  55000., 115000.,  94000.,  63000., 155064.,
       328500.,  90000., 230000.,  98000., 102000.])

In [424]:
draft_df.salary[draft_df.salary == 0]

129    0.0
Name: salary, dtype: float64

In [427]:
draft_df.drop(129,inplace=True)

In [428]:
draft_df.salary[draft_df.salary == 0]

Series([], Name: salary, dtype: float64)

In [429]:
draft_df.salary[draft_df.salary == 4094]

148    4094.0
150    4094.0
Name: salary, dtype: float64

In [432]:
draft_df.iloc[147:150]

,job_title,job_description,data_listed,location,salary
148,Clinical Measurement Scientist - Senior (Vascu...,Metro South Health is Australia's first digita...,'7 Feb 2020','Brisbane',4094.0
149,Biology Programme Manager,Position: Biology Programme Manager at MecRx ...,'31 Jan 2020','Melbourne',174720.0
150,Clinical Measurement Scientist - Senior (Vascu...,Metro South Health is Australia's first digita...,'7 Feb 2020','Brisbane',4094.0

In [443]:
draft_df[draft_df.duplicated(keep=False)].sort_values('job_description')

,job_title,job_description,data_listed,location,salary
1,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,'5 Feb 2020','Sydney',130000.0
238,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,'5 Feb 2020','Sydney',130000.0
92,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,'5 Feb 2020','Sydney',130000.0
242,LECTURER/SENIOR LECTURER IN MACHINE LEARNING (...,\nJob no: G - 0049924\nWork type: Continuing\n...,'21 Jan 2020','Melbourne',102000.0
243,LECTURER/SENIOR LECTURER IN MACHINE LEARNING (...,\nJob no: G - 0049924\nWork type: Continuing\n...,'21 Jan 2020','Melbourne',102000.0
...,...,...,...,...,...
56,Data Analytics Specialist,\nUQJobs No: 508695\nProperty and Facilities\...,'7 Feb 2020','Brisbane',77000.0
54,Data Analytics Specialist,\nUQJobs No: 508695\nProperty and Facilities\...,'7 Feb 2020','Brisbane',77000.0
83,Data Analytics Specialist,\nUQJobs No: 508695\nProperty and Facilities\...,'7 Feb 2020','Brisbane',77000.0
41,Big Data Engineer,Equifax in North Sydney are looking for a ta...,'29 Jan 2020','Sydney',110000.0
220,Big Data Engineer,Equifax in North Sydney are looking for a ta...,'29 Jan 2020','Sydney',110000.0

In [444]:
df_1 = draft_df.drop_duplicates()

In [445]:
df_1.shape

(208, 5)

In [2]:
df_1.to_csv('./df_1.csv',index=False)

NameError: name 'df_1' is not defined

In [16]:
df_1 = pd.read_csv('./df_1.csv')

In [17]:
df_1

,job_title,job_description,data_listed,location,salary
0,Data Scientist,Where you’ll be working:You will be working wi...,'10 Feb 2020','Sydney',146000.0
1,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,'5 Feb 2020','Sydney',130000.0
2,Data Scientist,About the company My client is a company that...,'30 Jan 2020','Melbourne',160000.0
3,Data Scientist,About Them: This tech start up are on a mis...,'3 Feb 2020','Sydney',174720.0
4,Data Scientist,A brand new and exciting 6 month contract has ...,'4 Feb 2020','Melbourne',255500.0
...,...,...,...,...,...
203,Executive Search Consultant - Research & Highe...,Robertson Search is part of a 15-year-old priv...,'3 Feb 2020','Melbourne',174720.0
204,Reverse Engineer/Researcher,About the business GQR is working on an excl...,'15 Jan 2020','Sydney',150000.0
205,Big Data Engineer - Azure/AWS,About our Client: My client is one of the fa...,'17 Jan 2020','Melbourne',140000.0
206,Executive Search Consultant - Research & Highe...,Robertson Search is part of a 15-year-old priv...,'30 Jan 2020','Melbourne',174720.0
207,Full Stack Developer - .Net Core ($90-$140),THE ROLEThe role will be part of our engineeri...,'31 Jan 2020','Sydney',196560.0

In [18]:
df_1.job_title.unique()

array(['Data Scientist', 'Data Scientist - Banking',
       'Data Scientist - Remediation Analytics', 'Data Scientist APS 6',
       'Data Scientist - Retail Banking',
       'Senior Data Scientist - Time-Series (Contrct 700-800pd)',
       'Data Scientist | Global Health Tech Business',
       'Data Scientist - Property and Retail',
       'Junior Marketing Data Scientist / Analyst',
       'Data Science Consultant', 'Data Science Engineer',
       'Data Analytics Consultants - Data Forensics - $70-90k',
       'Senior Data Scientist - $160k + Super + 20% bonus',
       'Data Engineer', 'Lead Data Scientist',
       'Software Engineer | Machine Learning & AI',
       'Research Scientist - Computational Platforms',
       'Manager Data Science and Data Visualisation',
       'Start your new career as a Data Analyst',
       'Machine Learning Engineer', 'Lead Data Science Analyst',
       'Associate Director Data and Analytics',
       'Data Science Software Engineer', 'Product Manager - Data Science',
       'Sales Executive - Analytics & Artificial Intelligence',
       'Data Analyst',
       'Senior Software Engineer (R&D / Data Science / Machine Learning)',
       'Senior Data Analytics Consultants / Managers - Data Forensics - $90-130k',
       'Big Data Engineer', 'Sr. Big Data Engineer - Machine Learning',
       'Bioinformatician', 'Data Visualisation Analyst',
       'Customer Service Data Analyst', 'Data Reporting Analyst',
       'Research & Reporting Analyst', 'Data Analytics Specialist',
       'Data Governance', 'Power BI Analyst', 'Data Modeller',
       'Business Analyst - Data Analytics', 'Customer Insights Analyst',
       'APS6 Data Analyst', 'Buying Systems Analyst - Data Analyst',
       'Mid/Junior Data Analyst', 'Insights Analyst',
       'WMS Data Analyst - Full Time', 'Data Analyst / Co-ordinator',
       'Finance Data Analyst (Mandarin Speaking)',
       'Data Analyst- Research',
       'Senior Data Analyst - Data Centre Infrastructure', 'Analyst',
       'Data Analyst - Wealth Marketing & Customer Analytics (SYD60508)',
       'Business Analyst (Data)', 'Business Intelligence Analyst',
       'Campaign Data Analyst', 'APS6 Data Analysts - Several Positions',
       'Transactional Data Analyst',
       'Data Migration Analyst | 12 month initial contract + ext* | Baseline',
       'Senior Analyst', 'Business Intelligence (B.I.) Analyst | Health',
       'Technical Business Analyst', 'Business Analyst',
       'Senior Business Analyst', 'Digital Business Analyst',
       'IT Business Analyst',
       'Senior Business Analyst - Super or Life - $900 to 950/day',
       'Business Analyst - System Integration',
       'Senior Business Analyst / Product Owner',
       'Business Analyst/Tester', 'Lead Business Analyst',
       'Business Analyst - CRM Specialist',
       'Business Analyst (Business Case)', 'ERP Business Analyst',
       'Senior Business Analyst - S/4HANA',
       'Senior Business Analyst - Utilities',
       'Business Analyst - Finance Transformation Project',
       'Enterprise Business Analyst Lead', 'Technical/Business Analyst',
       'Application/Business Analyst', 'Principal Business Analyst',
       'Senior Business Analyst $130k+ Super',
       'Research Scientist - Molecular Genetics', 'Scientist',
       'Clinical Measurement Scientist - Senior (Vascular Scientist)',
       'Biology Programme Manager', 'Hospital Scientist',
       'Research Associate', 'APS 5 Scientific Evaluator - Biologics',
       'Regulatory Scientist - Chemistry - APS5', 'Research Assistant',
       'Respiratory Scientist', 'Scientific Research Officer (Full time)',
       'Technical Assistant', 'Research Fellow/Senior Research Fellow',
       'Postdoctoral Fellow', 'RESEARCH MANAGER',
       'Senior Research Officer', 'Postdoctoral Fellow / Research Fellow',
       'Senior Marketing and Communications Officer', 'Research Officer',
       'Communication Officer - Science Communication',
       'Lecturer/Senior Lecturer in Computer Science', 'Graduate Analyst',
       'Clinical Research Manager', 'Fundraising Communications Writer',
       'Postdoctoral Research Associate/Fellow in Livestock Behaviour',
       'Communications Coordinator',
       'Behaviour Analyst BCBA (Program Supervisor) - Lizard Sydney',
       'Research Fellow in Distributed Systems', 'Procurement Advisor',
       'Research Officer / Senior Research Officer',
       'Lecturer/Senior Lecturer/Associate Professor - Multiple Positions',
       'Machine Learning / Computer Vision Engineer - Sydney/Melbourne - Work from home',
       'Senior Machine Learning Engineer - Banking',
       'Senior Big Data Engineer - Python & AWS',
       'Lead Software Engineer', 'DevOps Engineer',
       'Senior Data Engineer (Spark/Python/PySpark) | Fraud Detection Platform',
       'Software Engineer',
       'Artificial Intelligence / Machine Vision Engineer',
       'Senior Python / Javascript / API Developer - Big Data & Machine Learning Product',
       'Data Engineer / Analytics Consultant - Big Data',
       'Senior Data Engineer',
       'Business Development Manager - Machine Learning / AI',
       'SENIOR DATA ENGINEER', 'Senior Javascript Engineer',
       'Software Engineer - Python', 'Data Engineer / ETL Consultant',
       'Senior Software Engineer - Java/JVM', 'Senior DevOps Engineer',
       'Full Stack Developer', 'Full Stack Developer - Melbourne',
       'Software Engineers - Varying Roles',
       'Embedded Systems Engineer - Robotics',
       'Software Engineer - 3D Graphics',
       'Software Engineer for Blockchain Projects',
       'LECTURER/SENIOR LECTURER IN MACHINE LEARNING (MULTIPLE POSITIONS)',
       'Senior Teradata Engineer', 'Cyber Security - Presales Engineer',
       'Python Engineer', 'Data Engineer - Talend', 'Data Engineers x 2',
       'C# / C++ Software Engineer',
       'Head of Product Engineering - DATA/AI/IoT Hub',
       'Senior Full-stack .Net Developer - C# / Azure / React/ Microservices / TDD',
       'Data Engineers/ETL Developers - Multiple Opportunities - Mid to Senior Level',
       'Executive Search Consultant - Research & Higher Education',
       'Reverse Engineer/Researcher', 'Big Data Engineer - Azure/AWS',
       'Full Stack Developer - .Net Core ($90-$140)'], dtype=object)

In [19]:
def remove_numbers(x):
    x = re.findall(pattern=r'\D+\b',string=x)
    return x

In [20]:
df_1.job_title = df_1.job_title.apply(remove_numbers)

In [21]:
df_1.job_description = df_1.job_description.apply(remove_numbers)

In [22]:
df_1.head()

,job_title,job_description,data_listed,location,salary
0,[Data Scientist],[Where you’ll be working:You will be working w...,'10 Feb 2020','Sydney',146000.0
1,[Data Scientist],[\n\n\n\n\n\n Data Scientist | Python | Strong...,'5 Feb 2020','Sydney',130000.0
2,[Data Scientist],[About the company My client is a company tha...,'30 Jan 2020','Melbourne',160000.0
3,[Data Scientist],[ About Them: This tech start up are on a mi...,'3 Feb 2020','Sydney',174720.0
4,[Data Scientist],"[A brand new and exciting , month contract ha...",'4 Feb 2020','Melbourne',255500.0

In [23]:
nlp = spacy.load("en_core_web_sm")

In [24]:
temp = df_1.job_description[0]

In [25]:
temp

['Where you’ll be working:You will be working with a huge brand name company that have major plans for ',
 '! This company has huge amounts of data at their disposal and a team that focuses on using the latest open source tools in the market!This is a ',
 " month initial contract with extension options.This company has very cool products that are used by millions across Australia! Who Are you?You will come from a strong Data Science background with solid coding ability built up through extensive commercial experience.This role will see you work with stakeholders to plan and design analytics projects. You will be working across a range of tech stacks to create insights and models that improve the performance of this company's unique products. Skills Required:At least ",
 ' yrs experience working as a Data Scientist with Big Data setsAble to code in either: Python or RStrong SQL skillsAWS - ',
 ', Redshift etcGoogle AnalyticsPhD would be favourable (Machine Learning, Stats, Maths, Computer Science etc)Clear Communication Skills What’s in it for you?This is a rare chance to take your career to the next level with a company that is ',
 '% dedication to Data. You will work with other likeminded people who love DATA! There is an attractive salary, cutting edge technology and cool offices!This company works in a very innovative industry that is fun to work in and provides a very welcomed change from the usual data work found in financial services. Next StepsIf this sounds like the perfect job role for you, please apply within or contact Adam on ']

In [26]:
' '.join(temp)

"Where you’ll be working:You will be working with a huge brand name company that have major plans for  ! This company has huge amounts of data at their disposal and a team that focuses on using the latest open source tools in the market!This is a   month initial contract with extension options.This company has very cool products that are used by millions across Australia! Who Are you?You will come from a strong Data Science background with solid coding ability built up through extensive commercial experience.This role will see you work with stakeholders to plan and design analytics projects. You will be working across a range of tech stacks to create insights and models that improve the performance of this company's unique products. Skills Required:At least   yrs experience working as a Data Scientist with Big Data setsAble to code in either: Python or RStrong SQL skillsAWS -  , Redshift etcGoogle AnalyticsPhD would be favourable (Machine Learning, Stats, Maths, Computer Science etc)Clear Communication Skills What’s in it for you?This is a rare chance to take your career to the next level with a company that is  % dedication to Data. You will work with other likeminded people who love DATA! There is an attractive salary, cutting edge technology and cool offices!This company works in a very innovative industry that is fun to work in and provides a very welcomed change from the usual data work found in financial services. Next StepsIf this sounds like the perfect job role for you, please apply within or contact Adam on "

In [27]:
df_1.job_description = df_1.job_description.apply(lambda x: ' '.join(x))

In [28]:
type(df_1.job_description[0])

str

In [29]:
df_1.job_title = df_1.job_title.apply(lambda x: ' '.join(x))

In [31]:
df_1.job_title

0                                         Data Scientist
1                                         Data Scientist
2                                         Data Scientist
3                                         Data Scientist
4                                         Data Scientist
                             ...
203    Executive Search Consultant - Research & Highe...
204                          Reverse Engineer/Researcher
205                        Big Data Engineer - Azure/AWS
206    Executive Search Consultant - Research & Highe...
207               Full Stack Developer - .Net Core ($ -$
Name: job_title, Length: 208, dtype: object

In [32]:
df_1.to_csv('./clean_df.csv',index=False)

In [14]:
df_1['job_des_pars'] = df_1.job_description.apply(nlp)

In [15]:
df_1['job_tit_pars'] = df_1.job_title.apply(nlp)

In [30]:
temp = df_1.job_des_pars[0]

In [88]:
vect = TfidfVectorizer(ngram_range=(1,5),max_features=4000)

In [89]:
X_temp = vect.fit_transform(df_1.job_description)

In [90]:
X_temp

<208x4000 sparse matrix of type '<class 'numpy.float64'>'
	with 59716 stored elements in Compressed Sparse Row format>

In [91]:
y_temp = df_1.salary

In [92]:
lin_reg = LinearRegression()

In [93]:
lin_reg.fit(X_temp, y_temp)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [94]:
from sklearn.model_selection import cross_val_score

In [95]:
score = cross_val_score(lin_reg,X_temp,y_temp)

In [96]:
score.mean()

0.0672008390301591

In [97]:
df_1.location.unique()

array([" 'Sydney'", " 'Melbourne'", " 'ACT'", " 'Perth'", " 'Adelaide'",
       " 'Brisbane'", " 'Horsham & Grampians'"], dtype=object)

In [99]:
location_dums = pd.get_dummies(df_1.location,drop_first=True)

In [100]:
df_2 = df_1.join(location_dums)

In [123]:
df_2

,job_title,job_description,salary,job_des_pars,job_tit_pars,'Adelaide','Brisbane','Horsham & Grampians','Melbourne','Perth','Sydney'
0,Data Scientist,Where you’ll be working:You will be working wi...,146000.0,"(Where, you, ’ll, be, working, :, You, will, b...","(Data, Scientist)",0,0,0,0,0,1
1,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,130000.0,"(\n\n\n\n\n\n , Data, Scientist, |, Python, |,...","(Data, Scientist)",0,0,0,0,0,1
2,Data Scientist,About the company My client is a company that...,160000.0,"(About, the, company, , My, client, is, a, co...","(Data, Scientist)",0,0,0,1,0,0
3,Data Scientist,About Them: This tech start up are on a mis...,174720.0,"( , About, Them, :, This, tech, start, up, a...","(Data, Scientist)",0,0,0,0,0,1
4,Data Scientist,A brand new and exciting month contract has ...,255500.0,"(A, brand, new, and, exciting, , month, cont...","(Data, Scientist)",0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
203,Executive Search Consultant - Research & Highe...,Robertson Search is part of a -year-old priva...,174720.0,"(Robertson, Search, is, part, of, a, , -year,...","(Executive, Search, Consultant, -, Research, &...",0,0,0,1,0,0
204,Reverse Engineer/Researcher,About the business GQR is working on an excl...,150000.0,"(About, the, business, , GQR, is, working, o...","(Reverse, Engineer, /, Researcher)",0,0,0,0,0,1
205,Big Data Engineer - Azure/AWS,About our Client: My client is one of the fa...,140000.0,"(About, our, Client, :, , My, client, is, on...","(Big, Data, Engineer, -, Azure, /, AWS)",0,0,0,1,0,0
206,Executive Search Consultant - Research & Highe...,Robertson Search is part of a -year-old priva...,174720.0,"(Robertson, Search, is, part, of, a, , -year,...","(Executive, Search, Consultant, -, Research, &...",0,0,0,1,0,0
207,Full Stack Developer - .Net Core ($ -$,THE ROLEThe role will be part of our engineeri...,196560.0,"(THE, ROLEThe, role, will, be, part, of, our, ...","(Full, Stack, Developer, -, .Net, Core, (, $, -$)",0,0,0,0,0,1

In [101]:
df_2.head()

,job_title,job_description,data_listed,location,salary,job_des_pars,job_tit_pars,'Adelaide','Brisbane','Horsham & Grampians','Melbourne','Perth','Sydney'
0,Data Scientist,Where you’ll be working:You will be working wi...,'10 Feb 2020','Sydney',146000.0,"(Where, you, ’ll, be, working, :, You, will, b...","(Data, Scientist)",0,0,0,0,0,1
1,Data Scientist,\n\n\n\n\n\n Data Scientist | Python | Strong ...,'5 Feb 2020','Sydney',130000.0,"(\n\n\n\n\n\n , Data, Scientist, |, Python, |,...","(Data, Scientist)",0,0,0,0,0,1
2,Data Scientist,About the company My client is a company that...,'30 Jan 2020','Melbourne',160000.0,"(About, the, company, , My, client, is, a, co...","(Data, Scientist)",0,0,0,1,0,0
3,Data Scientist,About Them: This tech start up are on a mis...,'3 Feb 2020','Sydney',174720.0,"( , About, Them, :, This, tech, start, up, a...","(Data, Scientist)",0,0,0,0,0,1
4,Data Scientist,A brand new and exciting month contract has ...,'4 Feb 2020','Melbourne',255500.0,"(A, brand, new, and, exciting, , month, cont...","(Data, Scientist)",0,0,0,1,0,0

In [102]:
df_2.drop(['location'],inplace=True, axis=1)

In [103]:
df_2.drop(['data_listed'],inplace=True, axis=1)

In [113]:
from spacy.attrs import LOWER, POS, ENT_TYPE, IS_ALPHA

In [104]:
temp = df_2.job_des_pars[1]

In [114]:

np_array = temp.to_array([LOWER, POS, ENT_TYPE, IS_ALPHA])

In [116]:
np_array.shape

(283, 4)

In [ ]:
df_2['job_des_pars'].iloc[0]

In [133]:
dir(df_2['job_des_pars'].iloc[0])

['_',
 '__bytes__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '_bulk_merge',
 '_py_tokens',
 '_realloc',
 '_vector',
 '_vector_norm',
 'cats',
 'char_span',
 'count_by',
 'doc',
 'ents',
 'extend_tensor',
 'from_array',
 'from_bytes',
 'from_disk',
 'get_extension',
 'get_lca_matrix',
 'has_extension',
 'has_vector',
 'is_nered',
 'is_parsed',
 'is_sentenced',
 'is_tagged',
 'lang',
 'lang_',
 'mem',
 'merge',
 'noun_chunks',
 'noun_chunks_iterator',
 'print_tree',
 'remove_extension',
 'retokenize',
 'sentiment',
 'sents',
 'set_extension',
 'similarity',
 'tensor',
 'text',
 'text_with_ws',
 'to_array',
 'to_bytes',
 'to_disk',
 'to_json',
 'to_utf8_array',
 'user_data',
 'user_hooks',
 'user_span_hooks',
 'user_token_hooks',
 'vector',
 'vector_norm',
 'vocab']

In [132]:
df_2['job_des_pars'].apply(lambda x: list(x.sents))

0      (Where, you, ’ll, be, working, :, You, will, b...
1      (\n\n\n\n\n\n , Data, Scientist, |, Python, |,...
2                               (About, the, company,  )
3                                     (   , About, Them)
4      (A, brand, new, and, exciting,   , month, cont...
                             ...
203    (Robertson, Search, is, part, of, a,  , -year,...
204    (About, the, business,   , GQR, is, working, o...
205                          (About, our, Client, :,   )
206    (Robertson, Search, is, part, of, a,  , -year,...
207    (THE, ROLEThe, role, will, be, part, of, our, ...
Name: job_des_pars, Length: 208, dtype: object

In [128]:
df_2['job_des_pars'].apply(lambda x: x.text)

0      Where you’ll be working:You will be working wi...
1      \n\n\n\n\n\n Data Scientist | Python | Strong ...
2      About the company  My client is a company that...
3         About Them: This tech start up are on a mis...
4      A brand new and exciting   month contract has ...
                             ...
203    Robertson Search is part of a  -year-old priva...
204    About the business   GQR is working on an excl...
205    About our Client:   My client is one of the fa...
206    Robertson Search is part of a  -year-old priva...
207    THE ROLEThe role will be part of our engineeri...
Name: job_des_pars, Length: 208, dtype: object

In [134]:
job_description_vecs = df_2['job_des_pars'].apply(lambda x: pd.Series(x.vector))

In [145]:
score = cross_val_score(lin_reg,job_description_vecs,y_temp)
score.mean()

-2.000453745075664

In [147]:
sentence_vecs = df_2['job_des_pars'].apply(lambda x: pd.Series(x.sents))

In [181]:
# Lets use the stop_words argument to remove words like "and, the, a"
cvec = CountVectorizer(stop_words='english',ngram_range=(1,4),max_features=2000,min_df=3)

# Fit our vectorizer using our train data
cvec.fit(df_2.job_description)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=2000, min_df=3,
                ngram_range=(1, 4), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [182]:
# Transforming our x_train data using our fit cvec.
# And converting the result to a DataFrame.
X_train = pd.DataFrame(cvec.transform(df_2.job_description).todense(),
                       columns=cvec.get_feature_names())

In [183]:
# Which words appear the most?
word_counts = X_train.sum(axis=0)
word_counts.sort_values(ascending = False).head(20)

data           915
business       574
experience     539
research       397
work           375
role           314
team           292
skills         291
working        283
apply          255
science        221
development    205
information    195
position       182
learning       181
ability        165
analysis       161
opportunity    158
health         157
management     155
dtype: int64

In [184]:
y_temp.describe()

count       208.000000
mean     155698.019231
std       61727.957995
min        1000.000000
25%      113426.000000
50%      140000.000000
75%      196560.000000
max      328500.000000
Name: salary, dtype: float64

In [185]:
cat_y = pd.qcut(y_temp,6,labels=[0,1,2,3,4,5])

In [186]:
cat_y

0      3
1      2
2      3
3      3
4      5
      ..
203    3
204    3
205    2
206    3
207    4
Name: salary, Length: 208, dtype: category
Categories (6, int64): [0 < 1 < 2 < 3 < 4 < 5]

In [189]:
import matplotlib.pyplot as plt

In [191]:
from sklearn.model_selection import train_test_split

In [192]:
X_train, X_test, y_train, y_test = train_test_split(X_train,cat_y)

In [193]:
log_reg.fit(X_train, y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=10000, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [194]:
log_reg.score(X_test, y_test)

0.21153846153846154

In [195]:
from sklearn.model_selection import GridSearchCV

In [197]:
gs = GridSearchCV(cvec,param_grid={'ngram_range':[(1,2),(1,3),(1,4),(1,5),(1,6),(2,3),(2,4),(2,5),(2,6)],'max_features':[100,500,1000,2000]})

In [200]:
gs.fit(df_2.job_description,cat_y)

TypeError: If no scoring is specified, the estimator passed should have a 'score' method. The estimator CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=2000, min_df=3,
                ngram_range=(1, 4), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None) does not.