In [210]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.linear_model import LassoCV, LinearRegression, LogisticRegression, RidgeCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, GradientBoostingRegressor
from lightgbm import LGBMClassifier, LGBMRegressor
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, MiniBatchKMeans

import sklearn.metrics as metrics

import spacy
import nltk

In [3]:
df = pd.read_csv('./clean_df.csv')

In [4]:
df.head()

        job_title  ...    salary
0  Data Scientist  ...  146000.0
1  Data Scientist  ...  130000.0
2  Data Scientist  ...  160000.0
3  Data Scientist  ...  174720.0
4  Data Scientist  ...  255500.0

[5 rows x 5 columns]

In [5]:
spacy_nlp = spacy.load('en_core_web_sm')

In [7]:
df['nltk_tokens'] = df.job_description.apply(nltk.word_tokenize)

In [9]:
df.head()

        job_title  ...                                        nltk_tokens
0  Data Scientist  ...  [Where, you, ’, ll, be, working, :, You, will,...
1  Data Scientist  ...  [Data, Scientist, |, Python, |, Strong, Busine...
2  Data Scientist  ...  [About, the, company, My, client, is, a, compa...
3  Data Scientist  ...  [About, Them, :, This, tech, start, up, are, o...
4  Data Scientist  ...  [A, brand, new, and, exciting, month, contract...

[5 rows x 6 columns]

In [10]:
df['spacy_tokens'] = df.job_description.apply(spacy_nlp)

In [40]:
df_spacy = df[['spacy_tokens', 'salary']]

In [41]:
df_spacy.head()

                                        spacy_tokens    salary
0  (Where, you, ’ll, be, working, :, You, will, b...  146000.0
1  (\n\n\n\n\n\n , Data, Scientist, |, Python, |,...  130000.0
2  (About, the, company,  , My, client, is, a, co...  160000.0
3  (   , About, Them, :, This, tech, start, up, a...  174720.0
4  (A, brand, new, and, exciting,   , month, cont...  255500.0

In [42]:
df_nltk = df[['nltk_tokens', 'salary']]

In [43]:
df_nltk.head()

                                         nltk_tokens    salary
0  [Where, you, ’, ll, be, working, :, You, will,...  146000.0
1  [Data, Scientist, |, Python, |, Strong, Busine...  130000.0
2  [About, the, company, My, client, is, a, compa...  160000.0
3  [About, Them, :, This, tech, start, up, are, o...  174720.0
4  [A, brand, new, and, exciting, month, contract...  255500.0

In [38]:
location_dummies = pd.get_dummies(df.location,drop_first=True)

In [39]:
location_dummies

      'Adelaide'   'Brisbane'  ...   'Perth'   'Sydney'
0              0            0  ...         0          1
1              0            0  ...         0          1
2              0            0  ...         0          0
3              0            0  ...         0          1
4              0            0  ...         0          0
..           ...          ...  ...       ...        ...
203            0            0  ...         0          0
204            0            0  ...         0          1
205            0            0  ...         0          0
206            0            0  ...         0          0
207            0            0  ...         0          1

[208 rows x 6 columns]

In [44]:
df_nltk = df_nltk.join(location_dummies)

In [45]:
df_nltk.head()

                                         nltk_tokens  ...   'Sydney'
0  [Where, you, ’, ll, be, working, :, You, will,...  ...          1
1  [Data, Scientist, |, Python, |, Strong, Busine...  ...          1
2  [About, the, company, My, client, is, a, compa...  ...          0
3  [About, Them, :, This, tech, start, up, are, o...  ...          1
4  [A, brand, new, and, exciting, month, contract...  ...          0

[5 rows x 8 columns]

In [46]:
df_spacy = df_spacy.join(location_dummies)

In [47]:
df_spacy.head()

                                        spacy_tokens  ...   'Sydney'
0  (Where, you, ’ll, be, working, :, You, will, b...  ...          1
1  (\n\n\n\n\n\n , Data, Scientist, |, Python, |,...  ...          1
2  (About, the, company,  , My, client, is, a, co...  ...          0
3  (   , About, Them, :, This, tech, start, up, a...  ...          1
4  (A, brand, new, and, exciting,   , month, cont...  ...          0

[5 rows x 8 columns]

In [48]:
df_nltk.nltk_tokens[1]

['Data',
 'Scientist',
 '|',
 'Python',
 '|',
 'Strong',
 'Business',
 'Acumen',
 '|',
 'Stakeholder',
 'Management',
 '|',
 '$',
 'k',
 'base',
 'Working',
 'closely',
 'with',
 'the',
 'Senior',
 'Manager',
 ',',
 'you',
 'will',
 'support',
 'the',
 'business',
 'units',
 'with',
 'their',
 'business',
 'problems',
 'via',
 'an',
 'automated',
 'machine',
 'learning',
 'platform',
 '.',
 'This',
 'is',
 'an',
 'exciting',
 'time',
 'where',
 'you',
 'will',
 'be',
 'working',
 'collaboratively',
 'with',
 'various',
 'business',
 'units',
 'to',
 'deliver',
 'insightful',
 'solutions',
 'through',
 'the',
 'application',
 'of',
 'machine',
 'learning',
 'capabilities',
 '.',
 'You',
 'will',
 'be',
 'responsible',
 'for',
 'building',
 'and',
 'managing',
 'collaborative',
 'relationships',
 'with',
 'a',
 'broad',
 'audience',
 'of',
 'stakeholders',
 ',',
 'where',
 'you',
 'will',
 'represent',
 'the',
 'team',
 'and',
 'it',
 '’',
 's',
 'capability',
 'as',
 'the',
 'banks',
 'leading',
 'data',
 'science',
 'division',
 '.',
 'Through',
 'these',
 'relationships',
 'you',
 'will',
 'identify',
 'new',
 'use',
 'cases',
 'and',
 'projects',
 'for',
 'the',
 'team',
 'to',
 'tackle',
 '.',
 'To',
 'be',
 'considered',
 'for',
 'this',
 'role',
 'you',
 'will',
 'need',
 ':',
 'A',
 'degree',
 'in',
 'any',
 'of',
 'the',
 'following',
 '(',
 'or',
 'similar',
 ')',
 'is',
 'a',
 'must',
 ';',
 'Mathematics',
 ',',
 'Physics',
 ',',
 'Computer',
 'Science',
 ',',
 'Engineering',
 ',',
 'Statistics',
 'Strong',
 'business',
 'acumen',
 'Strong',
 'stakeholder',
 'management',
 'and',
 'relationship',
 'building',
 'skills',
 'A',
 'sound',
 'understanding',
 'of',
 'Python',
 'and',
 'SQL',
 'Analytical',
 'tools',
 'in',
 'Excel',
 '(',
 'VBA',
 ')',
 'and',
 'Tableau',
 '.',
 'Have',
 'had',
 'experience',
 'in',
 'cloud',
 'based',
 'big',
 'data',
 'environments',
 'Be',
 'a',
 'keen',
 'number',
 'cruncher',
 'and',
 'enjoy',
 'data',
 'mining',
 'You',
 'will',
 'be',
 'working',
 'in',
 'a',
 'team',
 'where',
 'curiosity',
 'is',
 'welcomed',
 ',',
 'and',
 'commercial',
 'acumen',
 'is',
 'integral',
 'to',
 'the',
 'success',
 'of',
 'the',
 'role',
 '.',
 'Whilst',
 'a',
 'good',
 'sense',
 'of',
 'humour',
 'is',
 'mandatory',
 '.',
 'If',
 'you',
 '’',
 're',
 'interested',
 'in',
 'being',
 'considered',
 'for',
 'this',
 'great',
 'opportunity',
 ',',
 'then',
 'please',
 'send',
 'your',
 'resume',
 'to',
 'ailbhe.lynch',
 '@',
 'tomexecutive.com']

In [51]:
temp = df_spacy.spacy_tokens[0]

In [54]:
temp.vector

array([ 0.1751815 ,  0.4683458 , -0.5824294 , -0.3474471 ,  1.3018603 ,
        0.17673367,  1.0576912 ,  0.19420584,  1.2329892 ,  1.3149885 ,
       -0.51645947,  0.08342735, -0.03944112, -0.6357234 , -0.69495726,
       -0.33003676, -0.79249334,  0.14235398, -0.07943974, -0.41328293,
        0.6194853 ,  0.43071178, -0.09145882, -0.01852435, -0.68217725,
        0.6646534 , -0.5593379 , -0.19931008,  0.6435791 , -0.71425605,
        0.6878975 ,  0.43369222, -0.16717143, -0.5017103 ,  0.00427351,
       -0.6358806 ,  0.5735309 , -0.93152535, -1.1835092 , -0.422721  ,
        1.2812802 ,  0.02174864, -0.27333564, -1.4063026 ,  0.22127613,
       -0.4972761 , -0.12656614,  0.06961485, -0.8874551 ,  0.40918016,
        1.0834715 , -0.7537637 , -0.2198047 ,  0.02641642, -1.8234868 ,
        0.5627237 ,  0.91176337,  0.54337364, -0.11680464,  0.32564875,
        0.7510442 , -0.10620414,  1.1129076 ,  0.74302554,  0.5128363 ,
       -0.43736348,  0.8140763 , -0.8553609 , -0.06546023,  0.5701083 ,
       -0.12632647, -0.40966773,  0.43680367, -0.2004325 , -0.37521523,
        0.00312605,  1.2284464 , -0.48105884, -0.49303803,  0.02571525,
        0.17988943, -0.5960124 ,  0.3008213 , -0.15701449,  0.3483824 ,
       -0.7213661 ,  0.31084135,  0.59421694, -0.11251311,  0.7710434 ,
       -0.5836834 , -0.5900574 , -0.01818443,  0.3685167 ,  0.7459314 ,
        0.5742918 ], dtype=float32)

In [63]:
df_spacy.head()

                                        spacy_tokens  ...   'Sydney'
0  (Where, you, ’ll, be, working, :, You, will, b...  ...          1
1  (\n\n\n\n\n\n , Data, Scientist, |, Python, |,...  ...          1
2  (About, the, company,  , My, client, is, a, co...  ...          0
3  (   , About, Them, :, This, tech, start, up, a...  ...          1
4  (A, brand, new, and, exciting,   , month, cont...  ...          0

[5 rows x 8 columns]

In [97]:
df_vect = df_spacy.spacy_tokens.apply(lambda x: pd.Series(x.vector))
# df_spacy.join()
df_vect.columns = ['vect_'+str(col) for col in df_vect.columns]

In [103]:
df_spacy = df_spacy.join(df_vect)

In [104]:
df_spacy

                                          spacy_tokens  ...   vect_95
0    (Where, you, ’ll, be, working, :, You, will, b...  ...  0.574292
1    (\n\n\n\n\n\n , Data, Scientist, |, Python, |,...  ...  0.428512
2    (About, the, company,  , My, client, is, a, co...  ...  0.509030
3    (   , About, Them, :, This, tech, start, up, a...  ...  0.423992
4    (A, brand, new, and, exciting,   , month, cont...  ...  0.508242
..                                                 ...  ...       ...
203  (Robertson, Search, is, part, of, a,  , -year,...  ...  0.354494
204  (About, the, business,   , GQR, is, working, o...  ...  0.379194
205  (About, our, Client, :,   , My, client, is, on...  ...  0.454642
206  (Robertson, Search, is, part, of, a,  , -year,...  ...  0.354494
207  (THE, ROLEThe, role, will, be, part, of, our, ...  ...  0.187161

[208 rows x 105 columns]

In [105]:
y = df_spacy.salary

In [120]:
df_spacy_vect = df_spacy.drop(['doc_vect','spacy_tokens', 'salary'],axis=1)

In [121]:
df_spacy_vect.head()

    'Adelaide'   'Brisbane'  ...   vect_94   vect_95
0            0            0  ...  0.745931  0.574292
1            0            0  ...  0.715475  0.428512
2            0            0  ...  0.941397  0.509030
3            0            0  ...  0.655478  0.423992
4            0            0  ...  0.864529  0.508242

[5 rows x 102 columns]

In [88]:
df_spacy_vect
# .doc_vect[9]

      'Adelaide'  ...                                           doc_vect
0              0  ...  [0.1751815, 0.4683458, -0.5824294, -0.3474471,...
1              0  ...  [0.32048553, 0.07731729, -0.6351257, -0.089653...
2              0  ...  [0.36408767, 0.42986587, -0.7239318, -0.100617...
3              0  ...  [-0.2843631, 0.6814115, -0.7620812, -0.5913523...
4              0  ...  [0.34770873, 0.4008369, -0.5727932, 0.19545771...
..           ...  ...                                                ...
203            0  ...  [0.029668827, 0.5719587, -0.37485087, -0.44034...
204            0  ...  [0.14766331, 0.2796057, -0.55320746, -0.076635...
205            0  ...  [0.15371738, 0.45325887, -0.72338283, -0.14703...
206            0  ...  [0.029668827, 0.5719587, -0.37485087, -0.44034...
207            0  ...  [-0.15124522, 0.46246698, -0.44930297, 0.09153...

[208 rows x 7 columns]

In [122]:
X_train, X_test, y_train, y_test = train_test_split(df_spacy_vect,y)

In [206]:
lbm_regr = LGBMRegressor(boosting_type='gbdt',max_depth=3, n_estimators=1000, learning_rate=0.01)

In [207]:
lbm_regr.fit(X_train,y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.01, max_depth=3,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=1000, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [208]:
lbm_regr.score(X_test,y_test)

0.12191631007263891

In [209]:
metrics.r2_score(lbm_regr.predict(X_test),y_test)

-2.607598280361312

In [200]:
metrics.median_absolute_error(lbm_regr.predict(X_test),y_test)

43907.4866722695

In [211]:
ridge = RidgeCV()

In [212]:
ridge.fit(X_train,y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=None, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [216]:
metrics.median_absolute_error(ridge.predict(X_test),y_test)

50208.33786475504